<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520567341698-h372oqpma77ge4o0v42pssnh20iesk91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520567341698-h372oqpma77ge4o0v42pssnh20iesk91</string>
	<key>API_KEY</key>
	<string>AIzaSyAha_anvabTooyAuxXD-6dyCMuvif-sD_E</string>
	<key>GCM_SENDER_ID</key>
	<string>520567341698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muckstack.spark</string>
	<key>PROJECT_ID</key>
	<string>spark-42212</string>
	<key>STORAGE_BUCKET</key>
	<string>spark-42212.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520567341698:ios:a5982bb41d522220fe2a9b</string>
</dict>
</plist>